.queue-page__container {
    display: flex;
    margin: 20px auto 30px auto;
    width: 80%;
}

.queue-page__container__message-list {
    max-width: 1040px;
    flex-grow: 3;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.queue-page__container__queue__info {
    flex-grow: 1;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.queue-page__container__queue__container {
    align-self: flex-start;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
    margin-left: 20px;
    margin-bottom: 20px;
}

.queue-page__container__queue__item {
    color: #828792;
    font-size: 18px;
    padding: 14px 30px 0 30px;
}

.queue-page__container__queue__header {
    font-size: 24px;
    padding: 18px 30px;
    border-bottom: 1px solid #adbec6;
}

.queue-page__container__queue__controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
    padding: 0 10px;
}

.queue-page__container__queue__controls > Button {
    margin-left: 10px;
}
