.button {
    border: none;
    background-color: #cfdce3;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
}

.button:hover {
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button--create {
    background-blend-mode: multiply, normal;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 14px 54px;
    background: linear-gradient(#3ac5a9, #2d9782);
}

.button--send {
    background-blend-mode: multiply, normal;
    background: linear-gradient(#edf2f5, #cfdce3);
    color: #171727;
    font-size: 14px;
    padding: 12px 14px;
    font-weight: 400;
}

.button--send > .button__label{
    display: flex;
    justify-content: center;
}

.button--send--icon > .button__label::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-repeat: no-repeat;
    content: '';
    background-position: center;
    background-image: url(./icn-send.png);
}

.button--close {
    border-radius: 50%;
    font-size: 24px;
    background-color: #141414;
    color: #fff;
    height: 32px;
    width: 32px;
}

.button--close > .button__label::after,
.button--delete > .button__label::after {
    content: "\2716";
}

.button--add > .button__label::after {
    font-weight: 900;
    content: "\2795";
}

.button--back > .button__label::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 24px;
    content: "\f060";
}

.button--delete,
.button--add,
.button--back {
    background: none;
    color: #828792;
}
