.new-queue-form {
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    color: #828792;
    margin: 200px auto;
    max-width: 600px;
}

.new-queue-form__header {
    font-size: 24px;
    border-bottom: 1px solid #adbec6;
    position: relative;
}

.new-queue-form__queue-name {
    font-size: 18px;
}

.new-queue-form__header,
.new-queue-form__queue-name {
    padding: 24px 0;
    text-align: center;
    color: #171727;
}

.new-queue-form__close-button {
    position: absolute;
    right: -36px;
    top: -36px;
}

.new-queue-form__controls {
    display: flex;
    margin: 0 40px;
    flex-direction: column;
    justify-content: space-between;
}

.new-queue-form__control {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.new-queue-form__controls__type-selector {
    margin: 40px;
}

.new-queue-form__control__select {
    background-color: #fff;
}

.new-queue-form__control__input,
.new-queue-form__control__select {
    border: 2px solid #adbec6;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
}

.new-queue-form__control__input--single {
    margin: 0 20px;
}

.new-queue-form__control__input:focus,
.new-queue-form__control__select:focus {
    outline: none;
}

.new-queue-form__control__label {
    padding: 12px;
    width: 100px;
    font-size: 14px;
}

.new-queue-form__buttons {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0 30px 0;
}

.new-queue-form__buttons--centered {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;
}

.new-queue-form__buttons__button--next {
    padding: 10px 50px;
}

.new-queue-form__buttons__button--back {
    position: absolute;
    left: 20px;
}
